.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 15px;
    max-width: 500px;
    margin: auto; /* Center horizontally within the parent */
    

    .title {
        padding-bottom: 10px;
    }
}

.content img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    /* padding-top: 0p; */
    padding: 5px;
}